.box{
    height: 25%;
    width: 98%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border: 2px ;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.scroll-box {
    height: calc(100vh - 175px); 
    width: 100%;
    overflow-y: auto;
    overflow-x:auto ;
}