.foot {
    position: fixed;
    font-size: 18p;
    top: 95%;
    width: 100%;
    background: rgb(245, 245, 245);
    padding:0;
    margin-top: 2px ;
    text-align: center;
    color: rgb(0, 0, 0);
    justify-self: center;
}