.header{
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo{
    width: 150px;
    height: auto;
    margin: 0 auto;
}
#list{
    display: flex;
    justify-self: center;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

#list li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}