#list {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 10px 0 0;
    font-size: clamp(16px, 2.8vw, 25px);
    padding: 0;
}
.box {
    width: 90%;
    height: 30%;
    background-color:white;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.blogs{
    font-size: 19px;
}

#teams{
    display: flex;
    justify-content: flex-end;
}
.buttons{
    background-color: blue;
    color: aliceblue;
}
.imag{
    height: 500px;
    width: 500px;
    align-items: center;
}
.pagename{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#aboutas{
    height: 400px;
    width: 1500px;
    background-color: cornflowerblue;
    text-align: center;
}
#box2 {
    width: 700px; 
    height: 150px;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: start;
    height: 100px;
    width: 200px;
}
a{
    text-decoration: none;
    font-size: 25px;
}

body {
    padding-top: 140px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
}
#aboutas{
    height: 100%;
    width: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Move menu (ul) to the left side */
#list {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    /* pushes menu away from logo */
    list-style: none;
    padding: 0;
}

#list li a {
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link i {
    margin-right: 8px;
}

.scroll-box {
    width: 1520px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: scroll;
    border: 10px solid black;
    padding: 10px;
}

