html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
}

.content {
    height: 100%;
    scrollbar-width: none;
}
.header {
    background: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
}
#list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}
#list li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    
}
.nav-link i {
    margin-right: 6px;
}
.box {
    width: 95%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 25px ;
    border-radius: 10px;
}
.blogs {
    font-size: 19px;
}
.buttons {
    background-color: blue;
    color: white;
}
.footer {
    position: fixed;
    font-size: 18p;
    top: 93%;
    width: 100%;
    background: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
th,
td {
    padding: 10px;
}
.scroll-box {
    height: 77%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
.scroll-box2{
    height: 75%;
    width: 100%;
    overflow-y:auto;
    overflow-x:auto;
}
form {
    font: 1em sans-serif;
    max-width: 100%;
}   
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
    width: 100%;
    border: 1px solid #333333;
    box-sizing: border-box;
}
input:invalid {
    box-shadow: 0 0 5px 1px rgb(255, 0, 0);
}
input:focus:invalid {
    box-shadow: none;
}

input:invalid::after{
    color: red;
    font-size: larger;
}